<div class="container center">
    <div class="valign-wrapper" style="min-height: 100vh">
        <div class="valign" style="margin: 0 auto;">
            <div class="col s12 grey-text text-darken-4" style="font-size: 36px;">ALLIS UBO</div>
            <div class="col s12 grey-text">Responsible Investments</div>
            <div class="col s12 grey-text text-darken-4" style="margin-top: 10px;"><a href="mailto:ps@allisubo.com">ps@allisubo.com</a> | <a href="mailto:vrl@allisubo.com">vrl@allisubo.com</a></div>
        </div>
    </div>
</div>
