/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Calibri Light", sans-serif;
}
a {
  text-decoration: none;
  color: #616161;
}
a:hover {
  color: #0d47a1;
}